.CyoMain {
	text-align: center;
	height: 100vh;
}

.instructions {
	color: white;
}

.output {
  opacity: .65;
}

.textIn {
	opacity: .65;
	resize: none;
}

.tldrBtn {
	margin: 20px;
	background: rgba(255,255,255,.3);
  padding: 7px 7px 10px 10px;
  color: white;
  transition: background .5s, color .5s;
  border-radius: 5px;
  border: 2px solid;
  border-color: rgba(255,255,255,1);
}

.tldrBtn:hover {
  background: rgba(255,255,255,1);
  color: #38aecc;
}

.tldrBtn:active {
  transform: translateY(2px);
}
